body{
    padding: 0;
    margin: 0;
    background-color: rgb(74, 107, 137);
    font-family: monospace;
    
}
.nav-bar {
    background-color: rgb(102, 118, 206);
    position: fixed;
    width: 100%;
    height: 5em;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}
ul {
    display: flex;
    gap: 50px;
    margin-right: 22px;
}
li {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color:rgb(3, 1, 16);
    font-size: 20px;

}
li:hover {

    border-bottom: 2px solid #eee;
    transition: .1s;
}
.welcome{ 
    margin: 0;
    padding-top: 8px;
    background-color: rgb(32, 50, 79);

}
.welcome-div{
    color: hsl(65, 14%, 81%);
    font-size: 25px;
    text-align: center;
    margin-top: 40vh;
    padding-left: 20px;
    height: 600px;
}
p{
    transform: translateY(-20px);
    color: rgb(168, 137, 137);
}
.p1{
    font-size: 20px;
}
img {
    width:200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(-13px);
    margin-right: 40px;
}
